<ul class="nav flex-column cont">
    <li class=" active " style="margin-top: 2rem;"><a class="nav-link " href="/staff/dashbord"><i class="fa fa-home" aria-hidden="true"></i>HOME</a></li>
    <li class="nav-item"><a class="nav-link" href="/staff/view/uploaded/result/page"><i class="fa fa-book" aria-hidden="true"></i>uploaded Result</a></li>
    <li class="nav-item"><a class="nav-link" href="/staff/view/uploaded/result/page"><i class="fa-solid fa-pen-to-square"></i> Update Result</a></li>
    <li class="nav-item"><a class="nav-link" href="/staff/upload/result" id="upload-result"><i class="fa fa-television" aria-hidden="true"></i>Upload Result</a></li>
    <li class="nav-item"><a class="nav-link" href="/staff/update/course" id="upload-result"><i class="fa fa-television" aria-hidden="true"></i>Update course</a></li>

    <li class="nav-item"><a class="nav-link" href="/staff/profile" id="upload-result"><i class="fa-solid fa-address-card"></i>My Profile</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="/staff/view/AllComplaint" id="upload-result"><i class="fa fa-television" aria-hidden="true"></i>All complaints</a></li> -->
    <li class="nav-item"><a class="nav-link" href="/staff/view/resolved/complaints"><i class="fa fa-book" aria-hidden="true"></i>Resolved Complaint</a></li>



</ul> 