<ul class="nav flex-column cont">
                  
    <li class="nav-item"><a class="nav-link active" href="/user/dashBord">HOME</a></li>
    <li class="nav-item"><a class="nav-link active" href="/student/profile">Profile</a></li>

    <li class="nav-item"><a class="nav-link" href="#" id="check-result">Check Result</a></li>
    <li class="nav-item"><a class="nav-link" href="#" id="layComplaintLink">Lay Complaint</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Notifications</a></li>
</ul>