body{
    background-color: mintcream !important;
}

.navbar{
    background-color: mintcream !important;
    color: aliceblue;
    
    box-shadow: 2px 8px 2px rgb(236, 236, 240);
}
.notification{
    position: relative;
    left:20rem
}
.notification #red{
    position: absolute;
   left: 0.5rem;
   bottom:1rem ;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    align-items: center;
    font-weight: 600;
     font-size: 10px;
     color: #fff;
    background-color: red;
   


}

.accordion{
    width: 500px;
    position:relative;
    left: 40rem;
    display: none;
  

}
.navbar .log-out{
    color: red;
    padding: 5px;
    font-size: x-large;
    font-weight: 600;
    text-shadow:  0 2px 1px rgb(236, 236, 240);
}
#user{
    
    margin-top: 20px;
    margin-left: 25px;
}
 .sidebar{
    background-color: #70837d;
    color: aliceblue;
    height: 150vh;
    box-shadow: 2px 4px 2px rgb(236, 236, 240) ;
    
    
    }
    
    .sidebar .cont{
    
    margin-top: 50px;
    padding: auto;
   
    font-size: larger;


}
.sidebar .cont li{
    padding: 5px;
    /* box-shadow:  0 1px 1px; */
     
    margin: 20px;
    text-align: center;
    
    
    }
    .sidebar .cont li a{
    color: rgb(255, 247, 247);

}
.sidebar .cont li :hover{
    background-color: mintcream;
    width: 100%;
    color: black;
  
}

.wrapp-box{
   margin-top: 40px;
    display: flex ;
    flex-direction: row;
}
.wrapp-box .box-cont{
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    font-size: x-large;
    color: #fff;

}
.wrapp-box .box1{
    width: 500px;
   border-radius: 20px;
    padding: 20px;
    background-color: #70837d;
}
.wrapp-box .box2{
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: #70837d;
    

}
.check-result{
 
  /* display: none; */


}
.check-result form{
    padding: 10px;
    margin: 20px;
    margin-left: 15rem;


}
.check-result #h2-check{
    
    margin-left: 15rem;


}
#btn-result{
    margin-top: 20px;
}
.layComplaint {
    /* border: 1px  solid salmon; */
}
.row .userimg #sidProfile {
    display: none;
    margin-left: 8rem;
    margin-top: 1rem;
}
@media (max-width:1275px) {

    
/* .wrapp-box{
    margin-top: 40px;
     display: flex ;
     flex-direction: row;
 } */
 .wrapp-box .box-cont{
     display: flex ;
     flex-direction: row;
     justify-content: space-around;
     font-size: large;
     color: #fff;
 
 }
 .wrapp-box .box1{
     width: 400px;
    border-radius: 20px;
     padding: 20px;
     background-color: #70837d;
 }
 .wrapp-box .box2{
     width: 400px;
     padding: 20px;
     border-radius: 20px;
     background-color: #70837d;
     
 
    
}


}
@media (max-width:1025px) {

    
/* .wrapp-box{
    margin-top: 40px;
     display: flex ;
     flex-direction: row;
 } */
 .wrapp-box .box-cont{
     display: flex ;
     flex-direction: row;
     justify-content: space-around;
     font-size: medium;
     color: #fff;
 
 }
 .wrapp-box .box1{
     width: 300px;
    border-radius: 20px;
     padding: 20px;
     background-color: #70837d;
 }
 .wrapp-box .box2{
     width: 300px;
     padding: 20px;
     border-radius: 20px;
     background-color: #70837d;
     
 
    
}


}
@media (max-width:887px) {

    
/* .wrapp-box{
    margin-top: 40px;
     display: flex ;
     flex-direction: row;
 } */
 .wrapp-box .box-cont{
     display: flex ;
     flex-direction: row;
     justify-content: space-around;
     font-size: small;
     color: #fff;
 
 }
 .wrapp-box .box1{
     width: 250px;
    border-radius: 20px;
     padding: 20px;
     background-color: #70837d;
 }
 .wrapp-box .box2{
     width: 250px;
     padding: 20px;
     border-radius: 20px;
     background-color: #70837d;
     
 
    
}



}
@media (max-width:627px) {

    
    .notification{
       display: none;
    }
 .wrapp-box .box-cont{
     display: flex ;
     flex-direction: column;
     justify-content: space-between;
     font-size: large;
     color: #fff;
 
 }
 .wrapp-box .box1{
     width: 400px;
    border-radius: 20px;
     padding: 20px;
     background-color: #70837d;
     
 }
 .wrapp-box .box2{
     width: 400px;
     padding: 20px;
     border-radius: 20px;
     background-color: #70837d;
     margin-top: 1rem;
     
 
    
}
.navbar{
 font-size: small;
}
.navbar .container-fluid img{
   width: 10px;
   height: 10px;
   margin-left: 3rem;
 
}
.navbar #profile{
   width: 10px;
   height: 10px;
   margin-left: -3rem;
 
}


}
@media (max-width:448px) {
   
    .check-result form{
    
        margin-left: -15rem;
    
    
    }
        .row .userimg #sidProfile {
        display: block;
        margin-left: 18rem;
        }
    .navbar .log-out{
        color: red;
        padding: 5px;
        font-size: small;
        font-weight: 600;
        text-shadow:  0 2px 1px rgb(236, 236, 240);
        margin-right: 3rem;
    }
 .wrapp-box .box-cont{
     display: flex ;
     flex-direction: column;
     justify-content: center;
     font-size: small;
     color: #fff;
 
 }
 .wrapp-box .box1{
     width: 250px;
    border-radius: 20px;
     padding: 20px;
     background-color: #70837d;
     margin-left: 1.5rem;

     
 }
 .wrapp-box .box2{
     width: 250px;
     padding: 20px;
     border-radius: 20px;
     background-color: #70837d;
     margin-top: 1rem;
     margin-left: 1.5rem;
     
 
    
}
.navbar{
 font-size: small;
}
.navbar .container-fluid img{
    display: none;
 
}
.navbar .log-out{
    color: red;
    padding: 5px;
    font-size: small;
    font-weight: 600;
    text-shadow:  0 2px 1px rgb(236, 236, 240);
    margin-right: 6rem;
}
.accordion{
    width: 500px;
    position:relative;
    left: 40rem;
    display: none;
  

}


}



