<ul class="nav flex-column cont">

                  
    <li class="nav-item"><a class="nav-link active " href="/admin/dashbord"><i class="fa fa-home" aria-hidden="true"></i>HOME</a></li>

    <li class="nav-item"><a class="nav-link" href="/admin/profile" id="upload-result"><i class="fa-solid fa-address-card"></i>My Profile</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="/admin/upload/result" id="upload-result"><i class="fa fa-television" aria-hidden="true"></i>Upload Result</a></li> -->
    <li class="nav-item"><a class="nav-link" href="/admin/view/all/resolve/complaint"><i class="fa-solid fa-comment"></i>Staff Feedback</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="/admin/view/uploaded/result"><i class="fa-solid fa-pen-to-square"></i> Update Result</a></li> -->
    <li class="nav-item"><a class="nav-link" href="/admin/view/uploaded/result"><i class="fa-solid fa-pen-to-square"></i> uploaded Result</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="/admin/view/all/complaints" id="upload-result"><i class="fa fa-television" aria-hidden="true"></i>All complaints</a></li> -->
    <li class="nav-item"><a class="nav-link" href="/admin/view/all/resolve/complaint"><i class="fa fa-book" aria-hidden="true"></i>Resolved Complaint</a></li>


    <li class="nav-item"><a class="nav-link" href="/admin/view/registered/student"><i class="fa fa-user-circle" aria-hidden="true"></i>Reg Students</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/view/registered/staff"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Reg  Staffs</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i>Setting</a></li> -->
</ul>